@import "globals.scss";

.Container {
  margin: 0 20vw;
  width: 60vw;
  padding: 1rem;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   flex-wrap: wrap;
}

.Entry {
  margin-bottom: 0.2rem;    
  font-size: 17px;
}
