// $ph-highlight: #ffa31a;
$ph-highlight: #8ac53e;


// $ph-bg-gray: #1b1b1b;
$ph-bg-gray: #292929;

$ph-gray: #292929;
$ph-dark-gray:#292929;  
$ph-bg-black: rgb(0,0,0);
// $ph-bg-black: #022226;

$ph-white: white;
$ph-links: #82d518;
$ph-button: #8ac53e;

// @font-face {
//     font-family: 'Roboto';
//     src: url('roboto.eot'); /* IE9 Compat Modes */
//     src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('roboto.woff') format('woff'), /* Modern Browsers */
//     url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
//     url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
// }
  