$ph-highlight: #ffa31a;
$ph-bg-gray: #1b1b1b;
$ph-gray: #808080;
$ph-dark-gray:#292929;  
$ph-bg-black: rgb(0,0,0);

// @font-face {
//     font-family: 'Roboto';
//     src: url('roboto.eot'); /* IE9 Compat Modes */
//     src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('roboto.woff') format('woff'), /* Modern Browsers */
//     url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
//     url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
// }
  