@import "globals.scss";
@import "Login.scss";

.Container {
  margin: 0 20vw;
  width: 60vw;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
}

.Container .Tile {
  width: 25vw;
  padding: 1rem;
  background-color: $ph-bg-gray;
  margin: 1rem;
  border-radius: 4px;
  // position: relative;
  display: flex;
  flex-direction: column;
}

.Container .TileHeader {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Container .Entries {
  margin-bottom: 2rem;
}
.Container .Entry {
  margin-bottom: 0.5rem;
}

.BigButton {
  // flex-grow: 1.7;

  padding: 15px 20px;
  // vertical-align: middle;
  // margin-right: 20px;
  border-radius: 5px;
  background-color: $ph-button;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none;
  color: $ph-dark-gray;
  cursor: pointer;
  // position: absolute;
  // bottom: 0;
  margin-top: auto;

}
.Container .Tile a {
  color: $ph-links;
  text-decoration: none;
}
